* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, skyblue, rgba(62, 190, 192, 0.85), rgb(40, 121, 179));
    height: 100vh;
    /* overflow: hidden; */
}

.content {
    width: 100%;
    padding-top: 2em;
    background: transparent;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 800;
    margin: 0 0 0.8em 0;
    color: rgb(255, 239, 239);
    font-size: 3em;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-weight: 800;
    backdrop-filter: blur(10px);
    margin: 0.5em 0;
    color: rgb(255, 255, 255);
    font-size: 2em;
}

.bg-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#cities {
    font-family: inherit;
    font-size: 2em;
    padding: 10px;
    transition: 0.5s ease-in;
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.button {
    width: 10em;
    display: block;
    height: 40px;
    outline: none;
    margin: 2em auto 0.5em;
    border-radius: 10px;
    border: 2px solid rgb(132, 226, 223);
    background-color: rgb(240, 240, 240);
    color: #111;
    transition: 0.5s ease-in-out;
}

.city-name {
    text-transform: capitalize;
}

.init-icon {
    visibility: hidden;
}

.button:hover {
    background: transparent;
    color: white;
    cursor: pointer;
}

#info {
    /* height: 100px; */
    transition: 0.3s ease-in;
    /* width: 20em; */
}

.icon {
    width: 6em;
    height: 6em;
    text-align: center;
}

@media screen and (max-width:600px) {
    #cities {
        width: 80%;
        text-align: center;
    }
    .button {
        width: 50%;
        height: 5em;
    }
}

.container {
    align-items: center;
    background-image: linear-gradient(to right, #054f7d, #00a7cf, #efe348, #0c0609, #054f7d);
    background-size: 600%;
    background-position: 0 0;
    font-family: 'Lato', Arial, sans-serif;
    height: 100%;
    justify-content: center;
    /* Animation */
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-name: gradients;
}

@keyframes gradients {
    0% {
        background-position: 0 0;
    }
    25% {
        background-position: 50% 0;
    }
    50% {
        background-position: 90% 0;
    }
    60% {
        background-position: 60%;
    }
    75% {
        background-position: 40%;
    }
    100% {
        background-position: 0 0;
    }
}